<!doctype html>
<html>
<head>
	<title>CS602</title>
</head>
<body>
<header>
	<img src="/images/bu-logo.gif" alt="logo">
</header>
<h2>Welcome to Assignment 2 by Chris Harris</h2>
        <a href="/addEmployee">Add Employee</a> |
<hr/>

	{{{body}}}

</body>
</html>

