<!doctype html>
<html>
<head>
	<title>CS602</title>
</head>
<body>
<header>
	<img src="/images/bu-logo.gif" alt="logo">
</header>
<h2>Welcome to Assignment 2 by Chris Harris</h2>
		<a href="/">Home</a>|
		<a href="/about">About</a> |
        <a href="/addEmployee">Add Employee</a> |
		<a href="/foo">Foo</a> |
        <a href="/id/2">Ids</a> |
<hr/>

	{{{body}}}

</body>
</html>

